<div class="row">
	<div class="col-xs-12">
		<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
		
				<input
					type="hidden"
					id="citySeq"
					formControlName="citySeq">

				<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
					<label for="name">City Name</label>
					<input
						type="text"
						id="cityName"
						formControlName="cityName"
						class="form-control">
					</div>
				</div>
				</div>

				<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
					<label for="code">City Code</label>
					<input
						type="text"
						id="cityCode"
						formControlName="cityCode"
						class="form-control">
					</div>
				</div>
				</div>


		<div class="row">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Save</button>
				<button *ngIf="editMode" type="button" class="btn btn-warning" (click)="onDelete()">Delete</button>
				<button type="button" class="btn btn-danger" (click)="onClose()">Close</button>
			</div>
		</div>
			
		</form>
	</div>
</div>
